.home_component {
    position: relative;
    width: 100%;
    .carousel_component {
        width: 80vw;
        position: relative;
        margin: 1em auto;
        #carousel_1 {
            background: url("../../../public/medias/background_under.webp");
            aspect-ratio: 16/6;
            background-size: cover;
            #carousel_wp1 {
                background: url("../../../public/medias/wallpaper1.webp")
                    no-repeat center;
                height: 100%;
                background-size: contain;
            }
        }
        #carousel_2 {
            background: url("../../../public/medias/background_under2.webp");
            aspect-ratio: 16/6;
            background-size: cover;
            .title_component {
                position: fixed;
                text-transform: uppercase;
                transform: translate(70%, 80%);
                .title_wp2 {
                    color: #ffffff;
                    font-size: 34px;
                    font-weight: bold;
                    line-height: 1.1;
                    &:first-child {
                        font-size: 26px;
                    }
                    &:last-child {
                        font-size: 26px;
                    }
                }
            }
            #carousel_wp2 {
                background: url("../../../public/medias/wallpaper2_comp.webp")
                    no-repeat right;
                height: 100%;
                background-size: contain;
            }
        }
        #carousel_3 {
            background: url("../../../public/medias/wallpaper3.webp") no-repeat;
            aspect-ratio: 16/6;
            background-size: cover;
            .title_component {
                position: fixed;
                text-transform: uppercase;
                transform: translate(10%, 50%);
                * {
                    color: #ffffff;
                    font-size: 16px;
                }
                .title_wp3 {
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 1.1;
                }
            }
        }
    }
}
